<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- required to read the <dataCacheClient> element -->
    <section name="dataCacheClient"
       type="Microsoft.ApplicationServer.Caching.DataCacheClientSection,
            Microsoft.ApplicationServer.Caching.Core, Version=1.0.0.0, 
            Culture=neutral, PublicKeyToken=31bf3856ad364e35"
       allowLocation="true"
       allowDefinition="Everywhere"/>
  </configSections>
  <dataCacheClient>
  <hosts>
    <host
       name="localhost"
       cachePort="22233"/>
  </hosts>
  </dataCacheClient>

  <connectionStrings>
    <add name="MainModuleUnitOfWork" connectionString="metadata=res://*/Model.MainModuleDataModel.csdl|res://*/Model.MainModuleDataModel.ssdl|res://*/Model.MainModuleDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=NLayerApp;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <!--RealAppContext - Real Container-->
    <!--FakeAppContext - Fake Container-->
    <!--<add key="defaultIoCContainer" value="RealAppContext" />-->
    <add key="defaultIoCContainer" value="RealAppContext"/>
   
  </appSettings>
  
</configuration>
